# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist
build

# Env
.env
.env.*

# Prisma / SQLite
dev.sqlite
dev.sqlite-journal
prisma/dev.sqlite
prisma/dev.sqlite-journal

# VS Code
.vscode
.react-router